:root{
  --hover: #{adjust-hue(#a2084a, 45deg)};
}

body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("./img/Ub-2020.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 2000ms ease;
}
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  
  
  
}
.showcase:hover .content {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 50%; 
  margin-top: 105px;
  margin-left: -195px;
  width: 400px;
  height: 350px;
  text-align: center;
  transition: all 2000ms ease;
  animation-name: example;
  animation-duration: 2.4s;
  animation-timing-function: ease-out;
  
}
@keyframes example{
    0%{
        top: -24%;
        
    }
    /* 50%{
        top: 13%
    } */
    
    100%{
        top: 15%;
    }
}

.content .logo {
  height: 200px;
  width: 400px;
}
.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}
.content .text {
    margin-left: -30px;
  line-height: 1.7;
  margin-top: 1rem;
}
.gamecontainer{
  margin-top: 11rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.buttoncontainer{
  margin-top: 1rem;
}
/* Button */
a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.25s;
  
  }
  a.button2:hover, a.button:focus{
  color:#a2084a;
  border-color:#a2084a;
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
  
  a.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
  a.button2{
  display:block;
  margin:0.4em auto;
  }
  }
 
